* {
    font-family: Roboto, sans-serif;
}

body {
    margin: 0px;
}

.header, .footer {
    background-color: #1F2937;
    padding: 0 200px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-bottom {
    display: flex;
    padding: 80px 0;
    gap: 10px;
    align-items: center;
}

.header-bottom-left, .image-placeholder {
    width: 300px;
    flex: 1 1 auto;
}

.content-text {
    width: 300px;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header-bottom-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.content1-main {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.content3-main {
    font-size: 40px;
    color: #F9FAF8;
    font-weight: 900;
}

.content1-sub {
    font-size: 18px;
    color: #E5E7EB;
}

.content2-main {
    font-size: 48px;
    color: #1F2937;
    font-weight: 900;
}

.content2-sub {
    font-size: 18px;
    color: #1F2900;
}

.subtext, .header-links {
    font-size: 18px;
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.button-1 {
    max-width: 200px;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    padding: 10px 40px;
    border-radius: 10px;
    border: 0px;
}

.header-links {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.header-links {
    display: flex;
    gap: 30px;
}

.image-placeholder {
    display: flex;
    background-color: grey;
    color: #E5E7EB;
    justify-content: center;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 250px;
    gap: 30px;
}

.food {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 250px;
    gap: 10px;
    text-align: center;
}

.food-bottom img, .roppongi-bottom img {
    width: 100%;
    aspect-ratio: 3/4;
    object-fit: cover;
    border-radius: 10px;
}

.info-bottom img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 10px;
}

.image-placeholder img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: #F9FAF8 solid 2px;
    border-radius: 5px;
}

.info-bottom {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.food-bottom, .roppongi-bottom {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.image-block, .roppongi-image-block {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.roppongi-image-block {
    color: #F9FAF8;
}

.image-block img {
    border-radius: 10px;
    border: 2px solid #3882F6;
}

.roppongi-image-block img {
    border-radius: 10px;
    border: 2px solid #F9FAF8;
}

.info-top {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.food-top {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.food-middle {
    font-size: 18px;
    color: #1F2937;
}

.quotation {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 250px;
    gap: 20px;
}

.quotes {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
}

.speaker {
    font-size: large;
    font-weight: 900;
    color: black;
    align-self: flex-end;
    padding-right: 20px;
}

.action {
    padding: 20px 200px;
}

.action-box {
    display: flex;
    background-color: #3882F6;
    justify-content: space-between;
    align-items: center;
    padding: 40px 80px;
    border-radius: 5px;
}

.button-2 {
    max-width: 130px;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    padding: 10px 40px;
    border-radius: 10px;
    border: 2px solid #F9FAF8;
}

.call-main {
    color: #F9FAF8;
    font-weight: bold;
    font-size: 20px;
}

.call-subtext {
    color: #F9FAF8;
    font-size: 18px;
}

.footer {
    text-align: center;
    font-size: 16px;
    color: #E5E7EB;
    padding: 25px;
}

.content-1 {
    background-color: #1F2937;
    padding: 20px 200px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}

.content-3 {
    background-color: #1F2937;
    padding: 20px 200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}

.content-2 {
    background-color: #F9FAF8;
    padding: 20px 200px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.content-title {
    background-color: #1F2937;
    padding: 20px 200px;
    flex-direction: column;
    display: flex;
    gap: 10px;
    text-align: center;
}

.numbers {
    font-weight: bold;
    font-size: 48px;
    color: #1F2937;
}

.header-img {
    width: 100vw;
    height: 300px;
    object-fit: cover;
    object-position: 50% 15%;
    display: block;
    margin: 0;
    padding: 0;
}

.header-img-day-2 {
    width: 100vw;
    height: 300px;
    object-fit: fill;
    object-position: 50% 35%;
    display: block;
    margin: 0;
    padding: 0;
}

.header-img-day-3 {
    width: 100vw;
    height: 300px;
    object-fit: cover;
    object-position: 50% 4%;
    display: block;
    margin: 0;
    padding: 0;
}

.header-img-day-4 {
    width: 100vw;
    height: 300px;
    object-fit: cover;
    object-position: 50% 40%;
    display: block;
    margin: 0;
    padding: 0;
}

.jetlag-pic, .train-pic, .sensoji-pic {
    display: flex;
    gap: 10px;
}

.jetlag-pic img {
    max-height: 200px;
    object-fit: cover;
    border: #F9FAF8 solid 2px;
    border-radius: 5px;
}

.train-pic img, .sensoji-pic img {
    max-height: 250px;
    object-fit: cover;
    border: #F9FAF8 solid 2px;
    border-radius: 5px;
}

.day1-top {
    background-color: #1F2937;
    padding: 30px 200px;
    display: flex;
    gap: 10px;
    align-items: start;
}

.border {
    height: 5px;
    background-color: #F9FAF8;
    padding: 0px;
    margin: 0px;
}

.kamakura-spots, .sunset-pic, .drunk-pic {
    display: flex;
    gap: 10px;
}

.kamakura-spots {
    max-width: 50%;
    flex-wrap: wrap;
}

.kamakura-spots img {
    max-height: 200px;
    aspect-ratio: 3/4;
    object-fit: cover;
    border: #3882F6 solid 2px;
    border-radius: 5px;
}

.sunset-pic img {
    max-height: 350px;
    aspect-ratio: 4/3;
    object-fit: cover;
    border: #F9FAF8 solid 2px;
    border-radius: 5px;
}

.drunk-pic img {
    max-height: 250px;
    aspect-ratio: 3/4;
    object-fit: cover;
    border: #F9FAF8 solid 2px;
    border-radius: 5px;
}

.firework-pic img {
    max-height: 250px;
    aspect-ratio: 16/9;
    object-fit: cover;
    border: #F9FAF8 solid 2px;
    border-radius: 5px;
}

.fireworks, .godzilla {
    background-color: #1F2937;
    padding: 20px 200px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.fireworks img {
    height: 250px;
    flex: 1 1 auto;
    aspect-ratio: 3/4;
    object-fit: cover;
    border: #F9FAF8 solid 2px;
    border-radius: 5px;
}

.godzilla img {
    height: 200px;
    flex: 1 1 auto;
    object-fit: cover;
    border: #F9FAF8 solid 2px;
    border-radius: 5px;
}
