* {
    font-family: 'Roboto', 'Times New Roman', Times, serif;
}

.header, .footer {
    background-color: #1F2937;
    padding: 0 200px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-bottom {
    display: flex;
    padding: 80px 0;
    gap: 10px;
}

.header-bottom-left, .image-placeholder {
    width: 300px;
    flex: 1 1 auto;
}

.header-bottom-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.subtext, .header-links {
    font-size: 18px;
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.button-1 {
    max-width: 130px;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    padding: 10px 40px;
    border-radius: 10px;
    border: 0px;
}

.header-links {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.header-links {
    display: flex;
    gap: 30px;
}

.image-placeholder {
    display: flex;
    background-color: grey;
    color: #E5E7EB;
    justify-content: center;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 250px;
    gap: 30px;
}

.info-bottom img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 10px;
}

.image-placeholder img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info-bottom {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.image-block {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.image-block img {
    border-radius: 10px;
    border: 2px solid #3882F6;
}

.info-top {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.quotation {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 250px;
    gap: 20px;
}

.quotes {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
}

.speaker {
    font-size: large;
    font-weight: 900;
    color: black;
    align-self: flex-end;
    padding-right: 20px;
}

.action {
    padding: 50px 200px;
}

.action-box {
    display: flex;
    background-color: #3882F6;
    justify-content: space-between;
    align-items: center;
    padding: 40px 80px;
    border-radius: 5px;
}

.button-2 {
    max-width: 130px;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    padding: 10px 40px;
    border-radius: 10px;
    border: 2px solid #F9FAF8;
}

.call-main {
    color: #F9FAF8;
    font-weight: bold;
    font-size: 20px;
}

.call-subtext {
    color: #F9FAF8;
    font-size: 18px;
}

.footer {
    text-align: center;
    font-size: 16px;
    color: #E5E7EB;
    padding: 25px;
}